@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
*{
    margin: 0;
    padding: 0;
}

body{
    background: gray url("images/pattern.png") repeat 100px 100px;
    width: 100%;
    -webkit-animation: slide 50s linear infinite;
}

.wat{
    text-align: center;
    margin: auto;
    color: orange;
    background-color: rgba(214, 214, 214, 0.5);
    width: 200px;
    height: 30px;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
        font-family: Roboto, sans-serif;
        transition: 0.3s;
}

.wat:hover{
    background-color: rgba(214, 214, 214);
    color: #ffe6bc;
}

.clock{
    margin: auto;
    text-align: center;
    border: 3px solid grey;
    width: 200px;
    height: 70px;
    transition: 0.5s;
    background-color: rgba(232, 232, 232, 0.5);
}

.clock:hover{
    border: 3px solid black;
    background-color: rgba(232, 232, 232);
    border-radius: 10%;
}

#wholethingo{
    font-weight: bold;
    text-align: center;
    margin: 20px;
    font-size: 25px;
        font-family: Roboto, sans-serif;
}

#date{
    color: #bababa;
    font-weight: medium;
    margin-top: -25px;
    font-size: 12px;
    font-family: Asap, sans-serif;
}

#stopbutton{
    width: 60px;
    height: 30px;
    text-align: center;
    position: absolute;
    margin-top: 10px;
    left: 45%;
    border: 0;
    background-color: #ff4b32;
    color: #ffffff;
    transition: 0.5s;
    opacity: 0;
}

#stopbutton:hover{
    border: 3px solid #fc1e00;
    background-color: #e54630;
}

.musiclist{
    background-color: rgba(210, 222, 242, 0.799);
    width: 225px;
    position: absolute;
    margin-left: 250px;
    margin-top: -50px;
    left: 44%;
    height: 50px;
    color: #afafaf;
    transition: 0.3s;
}

.musiclist > p{
    margin-top: 2px;
    font-family: Roboto;
    text-align: center;
}

.musiclist:hover{
    color: #ffffff;
    background-color: rgba(173, 197, 237);
}

#mlist{
    margin-left: 25%;
    text-align: center;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -1000px 0; }
}
